# Codecademy insurance portfolio project

In this project I will be using a medical insurance costs dataset. I will analyze the data and its attributes to find out which attributes have

In [1]:
import csv
import pandas as pd
import math
import statistics
import numpy as np

Next open and read the data inside the csv file.

In [2]:
# class to make a list of all the attributes to easily include in our defenitions.

class Insurance_attributes:
    def __init__(self, csv_file):
        self.show_dict = []
        self.age = []
        self.sex = []
        self.bmi = []
        self.children = []
        self.smoker = []
        self.region = []
        self.charges = float_charges = []
        with open(csv_file) as insurance_csv:
            csv_dict = csv.DictReader(insurance_csv)
            for i in csv_dict:
                self.show_dict.append(i)
            for att in self.show_dict:
                self.age.append(att["age"])
                self.sex.append(att["sex"])
                self.bmi.append(att["bmi"])
                self.children.append(att["children"])
                self.smoker.append(att["smoker"])
                self.region.append(att["region"])
            for float_charge in self.show_dict:
                float_charges.append(float(float_charge["charges"]))

            

            
                
                
insurance_dict = Insurance_attributes("insurance_csv.csv")

Goals for this dataset:
- Find out if the dataset represents every attribute fairly.
- detrmine how many patients each reagion has.
- detrmine the average charges for all patients and also how male and female average charges compare.
- which categroy has the highest charges on average.
- find out which attribute has the highest charges.

1. Find out if dataset represents everyone fairly

In [3]:
# total records in dataset
def total_records(record_lst):
    all_records = len(record_lst)
    return "There are a total of " + str(all_records) + " records in the dataset."


def male_female_rep(male_female_list):
    male = 0
    female = 0
    for mf in male_female_list:
        if mf == "male":
            male += 1
        if mf == "female":
            female += 1
    m_percent = round(((male/len(male_female_list)) * 100), 2)
    f_percent = round(((female/len(male_female_list)) * 100), 2)
    return f"In this dataset {m_percent}% of patients have their sex listed as male and {f_percent}% as female."
      
total_and_malefemale =  total_records(insurance_dict.show_dict) + male_female_rep(insurance_dict.sex)
print(total_and_malefemale)

There are a total of 1338 records in the dataset.In this dataset 50.52% of patients have their sex listed as male and 49.48% as female.

2. determine how many patients each reagion has.

In [4]:
# find each ragion

unique_region = []
for i in insurance_dict.region:
    if i not in unique_region:
        unique_region.append(i)
# print(unique_region)

#count how many patients in each region

def patient_region_info(value_lst):
    region_dict = {'southwest': 0, 'southeast': 0, 'northwest': 0, 'northeast': 0}
    for regions in value_lst:
        regions = regions["region"]
        if regions == 'southwest':
            region_dict["southwest"] +=1
        elif regions == 'southeast':
            region_dict["southeast"] +=1
        elif regions == 'northwest':
            region_dict["northwest"] +=1
        elif regions == 'northeast':
            region_dict['northeast'] +=1
    region_charges = {'southwest': 0, 'southeast': 0, 'northwest': 0, 'northeast': 0}
    return region_dict
region_info = patient_region_info(insurance_dict.show_dict)
print("here is the number of records in each region: " + str(region_info))

here is the number of records in each region: {'southwest': 325, 'southeast': 364, 'northwest': 325, 'northeast': 324}

3. highest average region and male female averages

In [5]:
# average charges for each region in our dataset.
def region_and_charges(insurance_list):
    lst_charges = []
    for i in insurance_list:
        lst_charges.append(i["charges"])
    t_charges = tuple(lst_charges)

    z_lst = list((zip(insurance_dict.region, t_charges)))
    southwest = []
    southeast = []
    northwest = []
    northeast = []
    for i in z_lst:
        if i[0] == "southwest":
            southwest.append(float(i[1]))
        elif i[0] == "southeast":
            southeast.append(float(i[1]))
        elif i[0] == "northwest":
            northwest.append(float(i[1]))
        elif i[0] == "northeast":
            northeast.append(float(i[1]))
    region_charges = {'southwest': 0, 'southeast': 0, 'northwest': 0, 'northeast': 0}
    region_charges["southwest"] = round((sum(southwest)/len(southwest)), 2)
    region_charges["southeast"] = round((sum(southeast)/len(southeast)), 2)
    region_charges["northeast"] = round((sum(northeast)/len(northeast)), 2)
    region_charges["northwest"] = round((sum(northwest)/len(northwest)), 2)
    highest_charge_region = ""
    if region_charges["southwest"] > region_charges["southeast"] and region_charges["northwest"] and region_charges["northeast"]:
        highest_charge_region = "The region with the highest average charges is southwest with " + str(region_charges["southwest"])
    elif region_charges["southeast"] > region_charges["southwest"] and region_charges["northwest"] and region_charges["northeast"]:
        highest_charge_region = "The region with the highest average charges is southeast with " + str(region_charges["southeast"])
    elif region_charges["northwest"] > region_charges["southwest"] and region_charges["southeast"] and region_charges["northeast"]:
        highest_charge_region = "The region with the highest average charges is northwest with " + str(region_charges["northwest"])
    elif region_charges["northeast"] > region_charges["southwest"] and region_charges["southeast"] and region_charges["northwest"]:
        highest_charge_region = "The region with the highest average charges is northwest with " + str(region_charges["northwest"])
    else:
        highest_charge_region = "more than one region has the same amount of charges"
    return region_charges, highest_charge_region

avg_region_charges = region_and_charges(insurance_dict.show_dict)
print("Here is the average charges in each region: " + str(avg_region_charges[0]) + "\n" + str(avg_region_charges[1]) +".")

Here is the average charges in each region: {'southwest': 12346.94, 'southeast': 14735.41, 'northwest': 12417.58, 'northeast': 13406.38}
The region with the highest average charges is southeast with 14735.41.

In [6]:
#avrage charges for male and female.

def avg_sex_charges(sex, charges):
    sex_charges_lst = list(zip(sex, charges))
    male = []
    female = []
    for values in sex_charges_lst:
        if values[0] == "male":
            male.append(values[1])
        elif values[0] == "female":
            female.append(values[1])
    avg_male = sum(male)/len(male)    
    avg_female = sum(female)/len(female)
    avg_all = (sum(male) + sum(female))/(len(male) + len(female))
    male_diff = ""
    female_diff = ""
    avg_diff = "" 
    # avgrage male compared to average female charges.
    if avg_male > avg_female:
        male_diff = "The average charges for male patients $"+ str(round(avg_male - avg_female, 2)) +" more than the average for female patients."
    elif avg_male < avg_female:
        male_diff = "the average charges for male patients $" + str(round(avg_male - avg_female, 2)) + " less than the avearge for female patients."
    #the average for female and all
    if avg_female > avg_male:
        female_diff = "The average charges for female patients is $" + str(round(avg_female  - avg_male, 2)) + " more than the average for male patients." 
    elif avg_female < avg_male:
        female_diff = "The average charges for female patients is $" + str((abs(round(avg_female - avg_male, 2)))) + " less than the average for males."
    # the averege male and female compared to all
    if avg_male > avg_all:
        avg_diff = "The average charges for male patients $" + str(round(avg_male - avg_all, 2)) +" more than the average for all patients." 
    elif avg_male < avg_all:
        avg_diff = "the average charges for male patients is $" + str(round(abs(avg_male - avg_all))) + " less than average for all"
    if avg_female > avg_all:
        avg_diff = "The average charges for female patients is $" + str(round(avg_female - avg_all)) + " more than the average for all"
    elif avg_female < avg_all:
        avg_diff = "The average charges for female patients is $" + str(round(abs(avg_female - avg_all))) + " less than the average for all"
    return f"The average charges for all patitens in the dataset is ${round(avg_all, 2)}. The average male charges is ${round(avg_male, 2)} and average female charges are ${round(avg_female, 2)}\n{male_diff}\n{female_diff}\n{avg_diff}."
avg_charges_each_sex = avg_sex_charges(insurance_dict.sex, insurance_dict.charges)
print(avg_charges_each_sex)

The average charges for all patitens in the dataset is $13270.42. The average male charges is $13956.75 and average female charges are $12569.58
The average charges for male patients $1387.17 more than the average for female patients.
The average charges for female patients is $1387.17 less than the average for males.
The average charges for female patients is $701 less than the average for all.

4. Which category has the highest charges on average.

In [7]:

    
#getting the description of smoker vs non smoker
class Description:
    def __init__(self, data):
        self.data = data
        self.dict = {"Min": self.min_num(), "Max": self.max_num(), "Mean": self.mean(), "Range": self.num_range(), "Median": self.median(), "Standard deviation": self.sample_std() }

    def median(self):
        sorted_data = sorted(self.data)
        index_num = len(self.data) // 2
        if (len(sorted_data) % 2) != 0:
            return round(sorted_data[index_num], 2)
        return round((sorted_data[index_num - 1] + sorted_data[index_num])/2, 2)
    
    def sample_std(self):  
        mean = sum(self.data)/len(self.data)
        amnt_num = len(self.data)
        lst_sqd = []
        for nums in self.data:
            squared = ((nums) - mean)**2
            lst_sqd.append(squared)
        sum_sqd_lst = sum(lst_sqd)
        divide_lst = sum_sqd_lst/ (amnt_num - 1)
        sqroot = math.sqrt(divide_lst)
        return round(sqroot, 2)
    
    def max_num(self):
        big_num = round(max(self.data), 2)
        return big_num
    def min_num(self):
        small_num = round(min(self.data), 2)
        return(small_num)
    
    def num_range(self):
        sorted_data = sorted(self.data)
        nums = round(sorted_data[0], 2), round(sorted_data[-1], 2)
        return nums
    def mean(self):
        mean_num = sum(self.data)/len(self.data)
        return round(mean_num, 2)
    
#smoker and non smoker list.    
smoker = []
non_smoker = []
for i in insurance_dict.show_dict:
    if i["smoker"] == "yes":
        smoker.append(float(i["charges"]))
    elif i["smoker"] == "no":
        non_smoker.append(float(i["charges"]))

smoker_desc = Description(smoker)
# print(smoker_desc.dict)
print(smoker_desc.dict)

{'Min': 12829.46, 'Max': 63770.43, 'Mean': 32050.23, 'Range': (12829.46, 63770.43), 'Median': 34456.35, 'Standard deviation': 11541.55}

# Tests

In [28]:
readcsv = pd.read_csv("insurance_csv.csv")
print(readcsv)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [29]:
df = pd.DataFrame(readcsv)
print(df.describe())

df[(df.smoker == "yes")].describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

              age         bmi    children       charges
count  274.000000  274.000000  274.000000    274.000000
mean    38.514599   30.708449    1.113139  32050.231832
std     13.923186    6.318644    1.157066  11541.547176
min     18.000000   17.195000    0.000000  12829.455100
25%     27.000000   26.083750    0.000000  20826.244213
50%     38.000000   30.447500    1.000000  34456.348450
75%     49.000000   35.200000    2.000000  41019.207275
max     64.000000   52.580000    5.000000  63770.428010

In [30]:
readcsv.isnull()

        age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False   False    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3     False  False  False     False   False   False    False
4     False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1333  False  False  False     False   False   False    False
1334  False  False  False     False   False   False    False
1335  False  False  False     False   False   False    False
1336  False  False  False     False   False   False    False
1337  False  False  False     False   False   False    False

[1338 rows x 7 columns]